<?xml version="1.0" encoding="utf-8"?>
<manifest package="yanovski.master_thesis"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MasterThesisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e9022f571feb0bfbf7d66cbc7dcaf12cb7f86d21"/>

        <service
            android:name=".authentication.MasterThesisAuthenticationServic"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName=".ui.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.TeachersActivity"
            android:label="@string/title_activity_teachers"
            android:parentActivityName=".ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.ThesesActivity"
            android:label="@string/title_activity_theses"
            android:parentActivityName=".ui.HomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.StudentProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.TeacherProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".ui.TeachersActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.FilteredThesesActivity"
            android:label="@string/title_activity_theses"
            android:parentActivityName=".ui.TeacherProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.NewThesisActivity"
            android:label="@string/title_activity_new_thesis"
            android:parentActivityName=".ui.ThesesActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.NewEventActivity"
            android:label="@string/title_activity_new_event"
            android:parentActivityName=".ui.CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.EditStudentProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".ui.MyProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.RegisterStudentActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.StudentsActivity"
            android:label="@string/title_activity_students"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.MyProfileActivity"
            android:label="@string/title_activity_profile"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.EditTeacherProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".ui.MyProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
